/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.nav, .modal__label-checkbox, .works__text {
  display: flex;
  align-items: center;
}

.modal__input, .clients__link, .examples__button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body.modal-open {
  overflow: hidden;
}

h2,
h3 {
  margin: 0;
  color: #212121;
}

p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container__desctop {
    width: 1200px;
    padding: 94px 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.title {
  margin-bottom: 30px;
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  outline: 0;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.header {
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  position: relative;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page__header-portfolio {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-black {
  color: #000000;
}

.nav {
  justify-content: space-between;
  padding: 16px 23px 16px 15px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 15px;
  }
}

.nav-button {
  padding: 0px;
  border: none;
  background-color: transparent;
  z-index: 2;
  outline: 0;
  transition-property: fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}

.nav-button .icon-cross {
  display: none;
}

.nav-button.is-open .icon-cross {
  display: block;
}

.nav-button.is-open .icon-menu {
  display: none;
}

.svg-menu {
  cursor: pointer;
}

.nav-list {
  margin-top: 48px;
  padding-left: 40px;
  margin-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    margin-bottom: 0;
    margin-right: 84px;
    margin-left: 88px;
    margin-top: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 0;
    margin-right: 0;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.nav__item-link {
  display: block;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000000;
  transition-property: color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item-link:hover, .nav__item-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__item-link {
    position: relative;
    padding: 32px 0;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .nav__item-link.current {
    color: #2196f3;
  }
  .nav__item-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contacts__block {
  margin-left: 40px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contacts__block {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__block {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-left: 10px;
  }
}

.contacts__link {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #757575;
    fill: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    transition-property: color, fill;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link:hover,
  .contacts__link:focus {
    color: #2196f3;
    fill: currentColor;
  }
}

.tel {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .tel {
    font-size: 12px;
    line-height: 1.71;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .contacts__svg-tel {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .contacts__svg-mail {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__svg-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.menu__social-list {
  display: flex;
  margin-left: 40px;
}

@media screen and (min-width: 768px) {
  .menu__social-list {
    display: none;
  }
}

.menu__social-item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__social-link {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__svg-tel {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts__svg-mail {
    display: none;
  }
}

.menu-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  width: 480px;
  background-color: #ffffff;
}

.menu-container.is-open {
  display: block;
  height: 796px;
}

@media screen and (min-width: 768px) {
  .menu-container {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 535px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0px;
  transition-property: fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border: 0px;
}

.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
  cursor: pointer;
  outline: 0;
}

.modal__close-svg {
  width: 30px;
  height: 30px;
}

.modal__form {
  padding: 40px;
}

.modal__appeal {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__appeal {
    text-align: center;
  }
}

.modal__label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__value {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  margin-bottom: 10px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196f3;
  outline: 0;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal__input {
    padding-left: 42px;
  }
}

.modal__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 29px;
  left: 12px;
  transition-property: fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .modal__svg,
.modal__input:focus + .modal__svg {
  fill: #2196f3;
}

.modal__label-checkbox {
  position: relative;
}

.modal__text-checkbox {
  margin-left: 23px;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .modal__text-checkbox {
    margin-left: 35px;
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal__input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__label-checkbox::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .modal__label-checkbox::after {
    margin-left: 12px;
  }
}

.modal__input-checkbox:checked + .modal__label-checkbox::after {
  border-color: transparent;
  background-image: url(../images/full-check.svg);
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
}

.modal__input-checkbox:focus + .modal__label-checkbox::after {
  border: 3px solid #212121;
}

.modal__label textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__label textarea:focus {
  border: 1px solid #2196f3;
  outline: 0;
  cursor: pointer;
}

.modal__label textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}

.modal__link {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal__button-submit {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  transition-property: background;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover, .modal__button-submit:focus {
  background: #188ce8;
  cursor: pointer;
  outline: 0;
}

.modal__button-submit span {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero {
  background-color: #c4c4c4;
}

.hero__block {
  width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .hero__block {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__block {
    width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
}

@media screen and (min-width: 1200px) {
  .hero__block {
    max-width: 1600px;
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-desctop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-desctop@2x.jpg");
}

.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 38px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features__block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  width: 450px;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.features__item {
  width: 450px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin: 0 30px 0 0;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.features__block-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .features__block-svg {
    width: 270px;
  }
}

.features__title {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .features__text {
    text-align: left;
  }
}

.features__svg {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 94px;
}

.title__section {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.works__list {
  display: flex;
  justify-content: center;
}

.works__item:first-child {
  margin-left: 0;
}

.works__item {
  position: relative;
  height: 294px;
  margin-left: 30px;
}

.works__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: bold;
}

.team {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}

.team_card {
  width: 450px;
  padding-bottom: 24px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team_card {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team_card {
    width: 270px;
    margin: 0 30px 0 0;
    padding-bottom: 30px;
  }
  .team_card:last-child {
    margin-right: 0;
  }
}

.team__img {
  width: 450px;
  height: 460px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #000000;
}

.team__skill {
  display: block;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__list-link {
  display: flex;
  justify-content: center;
}

.team_item-link:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: #afb1b8;
}

@media screen and (min-width: 1200px) {
  .team__social-link {
    transition-property: color, fill, background-color, border-radius;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team__social-link:hover, .team__social-link:focus {
    background-color: #2196f3;
    border-radius: 50%;
    color: #ffffff;
    fill: currentColor;
  }
}

.team__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    width: 768px;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    width: 1200px;
    margin: 0;
  }
}

.clients__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin: 0 30px 0 0;
  }
  .clients__item:last-child {
    margin: 0;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__svg {
  fill: #afb1b8;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: #2196f3;
  text-decoration: none;
}

.footer__logo-white {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.footer__address {
  display: block;
  margin-bottom: 8px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    width: 233px;
    margin-bottom: 9px;
    text-align: left;
  }
}

.footer__contacts-item:first-child {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__contacts-item:first-child {
    margin-bottom: 9px;
  }
}

.footer__contacts-link {
  display: block;
  font-family: roboto, sans-serif;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer__contacts-link {
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__contacts-link:hover, .footer__contacts-link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .footer__block-link {
    margin-left: 165px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__block-link {
    margin-left: 70px;
  }
}

.footer__container-title {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer__container-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container-title {
    text-align: left;
  }
}

.footer__container-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container-list {
    margin-bottom: 0;
  }
}

.footer__container-item:not(:last-child) {
  margin-right: 10px;
}

.footer__container-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer__container-link:hover, .footer__container-link:focus {
    background-color: #2196f3;
  }
}

.footer__container-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    margin-left: 93px;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-label {
    margin-right: 12px;
  }
}

.footer__form-title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form-input {
  width: 450px;
  margin-bottom: 20px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.footer__form-input::placeholder {
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer__form-input {
    margin-left: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer__form-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.footer {
  display: block;
  min-width: 480px;
  background-color: #2f303a;
}

.footer__block {
  padding: 60px 15px;
}

@media screen and (min-width: 768px) {
  .footer__block {
    padding-right: 89px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer__block-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__block-info {
    margin-bottom: 0;
  }
}

.examples__list-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .examples__list-button {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .examples__list-button {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__list-button {
    margin-bottom: 50px;
    margin-top: 94px;
  }
}

.examples__item-button {
  margin-right: 8px;
}

.examples__item-button:nth-last-child(-n + 2) {
  margin-top: 15px;
}

.examples__item-button:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .examples__item-button:nth-last-child(-n + 2) {
    margin-top: 0;
  }
}

.examples__button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.examples__button:focus, .examples__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: 0;
}

.card__list {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .card__list {
    width: 1200px;
    padding-bottom: 94px;
    margin: 0;
  }
}

.card__item {
  outline: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  .card__item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .card__item:nth-child(2n) {
    margin-right: 0;
  }
  .card__item:nth-child(-n + 2) {
    margin-top: 0;
  }
  .card__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 3 * 30px) / 3);
  }
  .card__item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .card__item:nth-child(n + 7) {
    margin-bottom: 0;
  }
  .card__item:nth-child(2) {
    margin-right: 15px;
  }
  .card__item:nth-child(3) {
    margin-top: 0;
    margin-left: 15px;
  }
  .card__item:nth-child(5) {
    margin-left: 15px;
  }
  .card__item:nth-child(9) {
    margin-left: 15px;
  }
  .card__item:nth-child(8) {
    margin-right: 15px;
  }
  .card__item:nth-child(4) {
    margin-right: 15px;
    margin-left: 0;
  }
}

.card__img {
  display: block;
}

@media screen and (min-width: 768px) {
  .card__img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .card__img {
    width: 370px;
  }
}

.card__info {
  padding: 20px 0px 20px 24px;
}

.card__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__filter {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}

.card__link {
  position: relative;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 450px;
  height: 295px;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__overlay-text,
.card__link:focus .card__overlay-text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .card__link:hover .card__overlay-text,
  .card__link:focus .card__overlay-text {
    padding-top: 49px;
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .card__link:hover .card__overlay-text,
  .card__link:focus .card__overlay-text {
    padding-top: 63px;
    margin-bottom: 63px;
  }
}

@media screen and (min-width: 768px) {
  .card__overlay-text {
    width: 354px;
  }
}
/*# sourceMappingURL=main.css.map */