.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: -15px;

  @media screen and (min-width: 768px) {
    width: 768px;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 1200px;
    margin: 0;
  }
}
.clients__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    margin: 0 30px 0 0;
    &:last-child {
      margin: 0;
    }
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border;
  @extend %animation;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &:hover .clients__svg,
  &:focus .clients__svg {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__svg {
  fill: $svg-team-color;
}
