.footer__block {
  width: 480px;
  padding: 60px 15px;
  background-color: $footer-backgroung-color;
}

@import '../components/footer-logo';
@import '../components/_footer-contacts';
@import '../components/footer-container-link';
@import '../components/footer_form';
