@import '../components/hero-backdrop';
@import '../components/hero-modal';

.hero__block {
  min-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 118px;
  background-image: linear-gradient($gradient-hero-color, $gradient-hero-color),
    url('../images/Hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/Hero@2x.jpg');
  }
}

@media screen and (min-width: 480px) {
  .hero__block {
    max-width: 768px;
    min-width: 480px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 118px;
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/hero-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $gradient-hero-color,
          $gradient-hero-color
        ),
        url('../images/hero-tablet@2x.jpg');
    }
  }
}
@media screen and (min-width: 768px) {
  .hero__block {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/hero-tablet.jpg');
  }
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/hero-tablet@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero__block {
    min-width: 768px;
    max-width: 1200px;
    height: 400px;
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/Hero-desctop.jpg');
  }
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/Hero-desctop@2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .hero__block {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/Hero-desctop.jpg');
  }

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../images/Hero-desctop@2x.jpg');
  }
}

// @media screen and (min-width: 480px) and (max-width: 767px) {
//   .hero__block {
//     // display: block;
//     max-width: 480px;
//     width: 480px;
//     height: 400px;
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     padding-top: 118px;
//     background-image: linear-gradient(
//         $gradient-hero-color,
//         $gradient-hero-color
//       ),
//       url('../images/Hero.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;

//     @media (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           $gradient-hero-color,
//           $gradient-hero-color
//         ),
//         url('../images/Hero@2x.jpg');
//     }
//   }
// }
// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .hero__block {
//     max-width: 768px;
//     width: 768px;
//     height: 400px;
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     padding-top: 118px;
//     background-image: linear-gradient(
//         $gradient-hero-color,
//         $gradient-hero-color
//       ),
//       url('../images/hero-tablet.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
//   @media (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         $gradient-hero-color,
//         $gradient-hero-color
//       ),
//       url('../images/hero-tablet@2x.jpg');
//   }
// }

// @media screen and (min-width: 1200px) {
//   .hero__block {
//     max-width: 1600px;
//     // width: 1600px;
//     height: 600px;
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     padding-top: 200px;
//     background-color: #c4c4c4;
//     background-image: linear-gradient(
//         $gradient-hero-color,
//         $gradient-hero-color
//       ),
//       url('../images/Hero-desctop.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }

//   @media (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         $gradient-hero-color,
//         $gradient-hero-color
//       ),
//       url('../images/Hero-desctop@2x.jpg');
//   }
// }

.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  // получается так же как и на макете только при размере шрифта 22
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: $secondary-letter-spacing;
  text-transform: uppercase;
  color: $primary-white-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 38px;
    line-height: 1.36;
  }
}
