@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 94px;
}
.title__section {
  margin-bottom: 50px;

  font-weight: $secondary-font-weight;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.works__list {
  display: flex;
  justify-content: center;
}
.works__item:first-child {
  margin-left: 0;
}
.works__item {
  position: relative;
  height: 294px;
  margin-left: 30px;
}
.works__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  @extend %flex;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: $primary-white-color;
  font-weight: $secondary-font-weight;
}
