.menu-container {
  position: absolute;
  padding-left: 40px;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 797px;
  padding-top: 48px;

  background-color: $primary-white-color;

  &.is-open {
    display: block;
  }
}
.nav-list {
  margin-bottom: 302px;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__item-link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-black-color;
  transition-property: color;
  @include animation(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
// contacts
.contacts__block {
  margin-bottom: 64px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts__link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 24px;
  line-height: $secondary-line-height;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
}
.tel {
  font-size: 34px;
  line-height: 1.17;
  color: $accent-color;
}
// social link
.menu__social-list {
  display: flex;
  width: 480px;
}
.menu__social-item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu__social-link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;
}

@media screen and (max-width: 767px) {
  .contacts__svg-tel {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts__svg-mail {
    display: none;
  }
}
