.nav {
  width: 480px;
  position: relative;
  @extend %flex;
  justify-content: space-between;
  padding: 16px 15px;
}

.nav-button {
  padding: 0px;
  border: none;
  background-color: transparent;
  z-index: 999;
  outline: 0;
  @include property();
  @include animation(fill);

  &:hover {
    fill: $accent-color;
  }
}

.nav-button .icon-cross {
  display: none;
}

.nav-button.is-open .icon-cross {
  display: block;
}

.nav-button.is-open .icon-menu {
  display: none;
}
.svg-menu {
  cursor: pointer;
}
