.card__list {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.card__item {
  outline: 1px solid #eeeeee;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card__img {
  display: block;
}

// content
.card__info {
  padding: 20px 0px 20px 24px;
}
.card__title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: $secondary-font-weight;
  font-size: 18px;
  line-height: 2;
  letter-spacing: $secondary-letter-spacing;
}
.card__filter {
  color: $primary-text-color;
  font-weight: normal;
  font-size: $secondary-font-size;
  line-height: $third-line-height;
}

.card__link {
  position: relative;
  display: block;

  @include animation(box-shadow);

  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 450px;
  height: 295px;
  // padding: 77px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: $primary-white-color;
  font-size: 18px;
  line-height: 1.55;

  transform: translateY(100%);
  @include animation(transform);

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0%);
  }
}
