@import '../../components/desctop/hero-modal';

@media screen and (min-width: 1200px) {
  .hero__block {
    width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../../../images/Hero-desctop.jpg');
    background-size: 1600px 600px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero__block {
      background-image: linear-gradient(
          $gradient-hero-color,
          $gradient-hero-color
        ),
        url('../../../images/Hero-desctop@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 38px;
    line-height: 1.36;
  }
}
