@media screen and (min-width: 1200px) {
  .team {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    // flex-wrap: nowrap;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team_card {
    width: 270px;
    margin: 0 30px 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .team_card {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list-link {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .team_item-link:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .team__social-link {
    transition-property: color, fill, background-color, border-radius;

    transition: $animation-duration $animation-timing;

    &:hover,
    &:focus {
      background-color: $accent-color;
      border-radius: 50%;
      color: $primary-white-color;
      fill: currentColor;
    }
  }
}
