@media screen and (min-width: 768px) {
  .footer__container-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__container-list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__block-link {
    margin-left: 165px;
  }
}
