@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    width: 768px;
    padding: 21px 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    margin-bottom: 0;
    margin-right: 84px;
    margin-left: 88px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item-link {
    position: relative;
    padding: 32px 0;
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-black-color;
  }
}
@media screen and (min-width: 768px) {
  .nav__item-link.current {
    color: $accent-color;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

// contacts
@media screen and (min-width: 768px) {
  .contacts__block {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-text-color;
    fill: $primary-text-color;
  }
}

@media screen and (min-width: 768px) {
  .contacts__svg-tel {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__svg-mail {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) {
  .menu__social-list {
    display: none;
  }
}
