@media screen and (min-width: 768px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;

    &:nth-child(-n + 2) {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .card__img {
    width: 354px;
    height: 294px;
  }
}

// overlay
@media screen and (min-width: 768px) {
  .card__overlay-text {
    width: 354px;
  }
}
