@media screen and (min-width: 768px) {
  .features__block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
