@media screen and (min-width: 768px) {
  .footer__block {
    width: 768px;
    padding-right: 89px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 768px) {
  .footer__block-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
  }
}

@import '../../components/tablet/footer-container-link';
@import '../../components/tablet/footer-form';
