.footer__form-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}

.footer__form-input {
  width: 450px;
  margin-bottom: 20px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  &::placeholder {
    font-family: $main-font;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}

.footer__form-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primary-white-color;
}
