.logo {
  color: $accent-color;
  font-family: $secondary-font;
  font-weight: $secondary-font-weight;
  font-size: 26px;
  line-height: $fourthline-height;
  text-decoration: none;
}

.logo-black {
  color: $primary-black-color;
}
