.menu-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $primary-white-color;

  &.is-open {
    display: block;
    height: 796px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
