.nav {
  position: relative;
  @extend %flex;
  justify-content: space-between;
  padding: 16px 23px 15px;
}

.nav-button {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  z-index: 999;

  &:hover {
    fill: $accent-color;
  }
}

.nav-button .icon-cross {
  display: none;
}

.nav-button.is-open .icon-cross {
  display: block;
}

.nav-button.is-open .icon-menu {
  display: none;
}
