.examples__list-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 60px;

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    margin-top: 94px;
  }
}

.examples__item-button {
  margin-right: 8px;

  &:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
  &:last-child {
    margin-right: 0px;
  }

  @media screen and (min-width: 768px) {
    &:nth-last-child(-n + 2) {
      margin-top: 0;
    }
  }
}
.examples__button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  transition-property: background-color, color, box-shadow;
  @extend %animation;

  background-color: $primary-backgroung-color;
  color: $title-text-color;
  font-weight: 500;
  font-size: $secondary-font-size;
  line-height: 1.62;
  text-align: center;

  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: 0;
  }
}
