@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-v19-latin/raleway-v19-latin-700.ttf);
}

@font-face {
  font-family: roboto-400;
  src: url(../fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf);
}

@font-face {
  font-family: roboto-700;
  src: url(../fonts/roboto-v20-latin/roboto-v20-latin-700.ttf);
}

@font-face {
  font-family: roboto-900;
  src: url(../fonts/roboto-v20-latin/roboto-v20-latin-900.ttf);
}
