.features__list {
  width: 450px;
}
.features__item {
  width: 450px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.features__block-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $primary-backgroung-color;
}

.features__title {
  font-family: $main-font;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary-black-color;

  margin-bottom: 10px;
}

.features__text {
  display: block;
  width: 340px;
  font-family: $main-font;
  line-height: $secondary-line-height;
  text-align: left;
}
.features__svg {
  width: 70px;
  height: 70px;
}
