.page-header {
  position: relative;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@import '../../components/mobile/logo';
@import '../../components/mobile/nav';
@import '../../components/mobile/menu';
