@import '../../components/mobile/hero-backdrop';
@import '../../components/mobile/hero-modal';

.hero__block {
  width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  background-image: linear-gradient($gradient-hero-color, $gradient-hero-color),
    url('../../../images/Hero.jpg');
  background-size: 480px 400px;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero__block {
    background-image: linear-gradient(
        $gradient-hero-color,
        $gradient-hero-color
      ),
      url('../../../images/Hero@2x.jpg');
  }
}

.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  // получается так же как и на макете только при размере шрифта 22
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: $secondary-letter-spacing;
  text-transform: uppercase;
  color: $primary-white-color;
  text-align: center;
}
