@font-face {
  font-family: raleway;
  src: url(../../fonts/raleway-v19-latin/raleway-v19-latin-700.ttf);
  src: url(../../fonts/raleway-v19-latin/raleway-v19-latin-700.woff2);
  src: url(../../fonts/raleway-v19-latin/raleway-v19-latin-700.woff);
}
@font-face {
  font-family: roboto-400;
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff);
}
@font-face {
  font-family: roboto-400;
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-500.ttf);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-500.woff2);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-500.woff);
}

@font-face {
  font-family: roboto-700;
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-700.ttf);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-700.woff2);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-700.woff);
}

@font-face {
  font-family: roboto-900;
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-900.ttf);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-900.woff2);
  src: url(../../fonts/roboto-v20-latin/roboto-v20-latin-900.woff);
}
