$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$svg-team-color: #afb1b8;
$secondary-text-color: rgba(255, 255, 255, 0.6);

$primary-backgroung-color: #f5f4fa;
$hero-bg-color: #c4c4c4;
$footer-backgroung-color: #2f303a;
$gradient-hero-color: rgba(47, 48, 58, 0.4);
$animation-duration: 250ms;
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: roboto, sans-serif;
$secondary-font: raleway, sans-serif;

$secondary-font-size: 16px;
$secondary-letter-spacing: 0.06em;
$secondary-font-weight: bold;
$secondary-line-height: 1.71;
$third-line-height: 1.87;
$fourthline-height: 1.19;
$primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
