@media screen and (min-width: 1200px) {
  .modal {
    width: 535px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@media screen and (min-width: 1200px) {
  .modal__appea {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .modal__input {
    padding-left: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__text-checkbox {
    margin-left: 35px;
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1200px) {
  .modal__label-checkbox::after {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    line-height: 1.7;
  }
}
